<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtqW9Ysm1gVY8l0Yoi3Iei8EXYjH1bsbU</string>
	<key>GCM_SENDER_ID</key>
	<string>222110778985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storageApp</string>
	<key>PROJECT_ID</key>
	<string>storageapp-333</string>
	<key>STORAGE_BUCKET</key>
	<string>storageapp-333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222110778985:ios:274e1abf7506ba6b1304f8</string>
</dict>
</plist>